<app-messages></app-messages>
<div class="component">
	
	<div class="page-header">
		<h1>Songs</h1>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<a class="btn btn-success pull-left btn-create" [routerLink]="['/dashboard/song-create/'+albumId]">Create Song</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			
			<ng-template #template>
				<div class="modal-body text-center">
					<p>You are sure you want to delete this song?</p>
					<button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
					<button type="button" class="btn btn-primary" (click)="decline()" >No</button>
				</div>
			</ng-template>
			
			<div class="row">
				<div class="col-md-12 col-sm-8">
					<table class="table">
						<thead>
							<tr>
								<th>Number</th>
								<th>Name</th>
								<th>Gender</th>
								<th>duration</th>
								<th colspan="2"></th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let song of songs">
								<td>{{ song.number }}</td>
								<td>{{ song.name }}</td>
								<td>{{ song.gender }}</td>
								<td>{{ song.duration }}</td>
								<td><a [routerLink]="['/dashboard/song-edit/'+albumId+'/'+song._id]" class="btn btn-warning">Edit</a></td>
								<td><a class="btn btn-danger" (click)="openModal(template, song._id)">Delete</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>	
	</div>
</div>