/* LOGIN COMPONENT STYLE */
.btn-login, .btn-create-account{
    width: 100%;
}

.login-header{
    height: 100px;
    margin-bottom: 3%;
    border-bottom: 1px solid #ddd;
}

.login-header title {
    font-size: 24px;
    display: block;
    margin-left: 0%;
    margin-top: 8%;
}

.login-title{
    font-size: 24px;
    color: #ddd;
    margin-top: 2%;
    margin-bottom: 2%;
    text-decoration: underline;
}

.login-description{
    height: 55px;
    font-size:14px;
}

form p {
    height: 70px;
}

form p input[type="text"], form p input[type="password"] {
    border: 0px;
    border-radius: 0px;
    height: 50px;
    border-bottom: 2px solid #6c757d;
    background: #3f4d67;
    color: #ddd;
    font-size: 18px;
}

form p a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.link-create{
    text-decoration: underline !important;
    cursor: pointer;
}

.link-create:hover{
    text-decoration: underline !important;
    color: #6c757d !important;
}

.login-error {
    color: red;
}

/* FIN LOGIN COMPONENT STYLE */