/* LOGIN COMPONENT STYLE */
.login-background{
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12) !important;
}

.btn-login, .btn-create-account{
    width: 100%;
}

.login-header{
    height: 100px;
    margin-bottom: 3%;
    /*border-bottom: 1px solid #ddd;*/
}

.login-header span.title {
    font-size: 40px;
    display: block;
    margin-left: 2%;
    /*margin-top: 8%;*/
}

.wrapper-logo{
    display: flex;
    margin-top: 10%;
}

.wrapper-logo .icon-logo .fa-icon-logo::before{
    margin-left: 10%;
}

.wrapper-logo .icon-logo{
    padding-top: 1%;
}

.login-title{
    font-size: 24px;
    color: #ddd;
    margin-top: 2%;
    margin-bottom: 2%;
    text-decoration: underline;
}

.login-description{
    height: 55px;
    font-size:14px;
}

form p {
    height: 70px;
}

form p input[type="text"], form p input[type="password"] {
    border: 0px;
    border-radius: 0px;
    height: 50px;
    border-bottom: 2px solid #6c757d;
    background: #343a40;
    color: #ddd;
    font-size: 18px;
}

form p a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.link-create{
    text-decoration: underline !important;
    cursor: pointer;
}

.link-create:hover{
    text-decoration: underline !important;
    color: #6c757d !important;
}

.login-error {
    color: red;
}

.btn-login, .btn-create-account{
    background-color: #343a40;
    border: 1px solid #ddd;
    cursor: pointer;
    color: #ddd;
}


/* FIN LOGIN COMPONENT STYLE */