<div class="app-wrapper" *ngIf="!identity">
	<div class="col-md-12">
		<div class="col-md-offset-8 col-md-4 app-form-segment">
			<form #loginForm="ngForm" (ngSubmit)="onSubmit()" >
				<p>
					<label for="email">Email</label>
					<input type="text" #email="ngModel" [(ngModel)]="user.email" name="email" class="form-control" required />
				</p>
				<p>
					<label for="password">Password</label>
					<input type="password" #password="ngModel" [(ngModel)]="user.password" name="password" class="form-control" required />
				</p>
				<p>
					<input type="submit" class="btn btn-success btn-login" value="Log In" >
				</p>
				<div *ngIf="message">
					<div class="alert alert-danger" role="alert">
						<strong>Alert!</strong> {{ message }} 
					</div>
				</div>
				<p>
					<a [routerLink]="['/']">Create new account</a>
				</p>
			</form>
		</div>
	</div>
</div>
			
