<div class="col-md-2 col-sm-3">
	<div class="wrapper">
		<nav class="navbar" role="navigation">
			
			<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav side-nav">
					<li class="nav-section title-app">
						<div class="nav-title">
							<span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
							Music!
						</div>
					</li>
					<li>
						<a href="#" data-toggle="collapse" data-target="#submenu-1">
							MENU 1
						</a>
					</li>
					<li>
						<a href="#" data-toggle="collapse" data-target="#submenu-1">
							MENU 1
						</a>
					</li>
					<li>
						<a href="#" data-toggle="collapse" data-target="#submenu-1">
							MENU 1
						</a>
					</li>
					<li class="nav-section">
						<div class="nav-section-title">
							Admin Panel
						</div>
					</li>
					<li>
						<a [routerLink]="['/dashboard/user-list']">
							Users
						</a>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</nav>
	</div>
</div>
<div class="col-md-10 col-sm-9">
	<router-outlet></router-outlet>
</div>
