<div class="row">
	<div class="col-md-4 artist-section">
		Artist
	</div>
	<div class="col-md-2 offset-md-6">
		pagination
	</div>
</div>
<div class="row">
  	<ul class="col-sm-6 col-md-3" *ngFor="let artist of artists">
		<a [routerLink]="['/dashboard/artist-detail/'+artist._id]" class="link-artist-name">
			<div class="thumbnail">
				<div class="artist-image">
					<img src="{{ url+'getImageArtist/'+artist.image }}" alt="...">
				</div>
				<div class="artist-name">
					<h5>{{ artist.name }}</h5>
				</div>
			</div>
		</a>
	</ul>
</div>
<div class="row">
	<div class="col-md-12 explore-section">
		Explore
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<a href="">
			<div class="box-gender rock-gender">
				<span>ROCK</span>
			</div>
		</a>
	</div>
	<div class="col-md-3">
		<a href="">
			<div class="box-gender pop-gender">
				<span>POP</span>
			</div>
		</a>
	</div>
	<div class="col-md-3">
		<a href="">
			<div class="box-gender jazz-gender">
				<span>JAZZ</span>
			</div>
		</a>
	</div>
	<div class="col-md-3">
		<a href="">
			<div class="box-gender electronic-gender">
				<span>ELECTRONIC</span>
			</div>
		</a>
	</div>
</div>
<div class="row">
	<div class="col-md-8 albums-section">
		Last Albums
	</div>
	<div class="col-md-4 top-songs-section">
		Top Songs
	</div>
</div>
<div class="row">
	<div class="col-md-8">
		<div class="row">
			<ul class="col-sm-6 col-md-6" *ngFor="let album of lastAlbums">
				<a class="link-album" [routerLink]="['/dashboard/artist-detail/'+album.artist+'/'+album._id]">
					<div class="thumbnail">
						<div class="album-image">
							<img src="{{ url+'album_get_image/'+album.image }}" alt="...">
						</div>
						<div class="album-title">
							<h5>{{ album.title }}</h5>
						</div>
					</div>
				</a>
			</ul>
		</div>
	</div>
	<div class="col-md-4">
		<div class="row">
			<ul *ngFor="let song of topSongs">
				<div class="card" style="max-width:260px;">
					<div class="row ">
						  <div class="col-md-4">
							<img src="http://via.placeholder.com/200" class="w-100">
						</div>
						<div class="col-md-8 px-1">
							  <div class="card-block px-1" style="padding-top:3%;">
								<h6 class="card-title">{{ song.name }}</h6>
								<p class="card-text">Album</p>
							  </div>
						</div>		  
					</div>
				</div>
			</ul>
		</div>
	</div>
</div>