<div [@fadeIn]>
	<div class="row">
		<div class="col-md-12">
			<div class="card bg-dark text-white">
				<img class="card-img" src="../../assets/images/explore.jpg" alt="Card image">
				<div class="card-img-overlay">
					<h3 class="card-title">Channels</h3>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<div class="card bg-light mb-3">
				<div class="card-body">
					<h5 class="card-title">Rock</h5>
					<a [routerLink]="['/dashboard/explore/rock']" class="btn btn-gender pull-right">Go</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card bg-light mb-3">
				<div class="card-body">
					<h5 class="card-title">Pop</h5>
					<a [routerLink]="['/dashboard/explore/pop']" class="btn btn-gender pull-right">Go</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card bg-light mb-3">
				<div class="card-body">
					<h5 class="card-title">Jazz</h5>
					<a [routerLink]="['/dashboard/explore/jazz']" class="btn btn-gender pull-right">Go</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="card bg-light mb-3">
				<div class="card-body">
					<h5 class="card-title">Dance</h5>
					<a [routerLink]="['/dashboard/explore/dance']" class="btn btn-gender pull-right">Go</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card bg-light mb-3">
				<div class="card-body">
					<h5 class="card-title">Reggue</h5>
					<a [routerLink]="['/dashboard/explore/reggue']" class="btn btn-gender pull-right">Go</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card bg-light mb-3">
				<div class="card-body">
					<h5 class="card-title">Rap</h5>
					<a [routerLink]="['/dashboard/explore/rap']" class="btn btn-gender pull-right">Go</a>
				</div>
			</div>
		</div>
	</div>
</div>