<div class="row">
	<div class="col-md-12">
		<div>
			<h1><span class="badge badge-dark">{{ genre.toUpperCase() }}</span></h1>
		</div>
		<div class="btn-group pull-right pagination-btn" role="group" aria-label="Basic example">
			<a class="btn" [routerLink]="['/dashboard/explore/'+genre+'/'+prePage]"><i class="fa fa-angle-left"></i></a>
			<a class="btn" *ngIf="nextPage"  [routerLink]="['/dashboard/explore/'+genre+'/'+nextPage]">
				<i class="fa fa-angle-right"></i>
			</a>
			<a class="btn" *ngIf="!nextPage">
				<i class="fa fa-angle-right"></i>
			</a>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-3 song-card" *ngFor="let song of songs; let i = index">
				<div class="card ">
					<div style="position:relative;">
						<img class="card-img-top" src="{{ url+'album_get_image/'+song.album.image }}" alt="Card image cap">
						<div class="song-description">
							<h6 class="card-title"><span>{{ song.name }}</span></h6>
							<div class="card-text">{{ song.album.title }}</div>
							<div class="card-text">{{ song.album.artist.name }}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>