<app-messages></app-messages>
<div class="user-edit-component">
    <div class="page-header">
        <h1>{{ title }}</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div *ngFor="let alert of alerts">
                <alert [type]="alert.type"><span [innerHtml]="alert.msg"></span></alert>
            </div>
        </div>
    </div>
    
        <form #editUser="ngForm" (ngSubmit)="onSubmit()" *ngIf="user">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-8">
                
                    <p>
                        <label for="name">Name</label>
                        <input type="text" #name="ngModel" [(ngModel)]="user.name" name="name" class="form-control" />
                    </p>
                    <p>
                        <label for="lastname">Lastname</label>
                        <input type="text" #lastname="ngModel" [(ngModel)]="user.lastname" name="lastname" class="form-control" />
                    </p>
                    <p>
                        <label for="email">Email</label>
                        <input type="text" #email="ngModel" [(ngModel)]="user.email" name="email" class="form-control" />
                    </p>
                    <p>
                        <label for="email">Role</label>
                        <select class="form-control" #role="ngModel" [(ngModel)]="user.role" name="role">
                            <option value="ROLE_ADMIN" [selected] = "user.role == 'ROLE_ADMIN'">Administrator</option>
                            <option value="ROLE_USER" [selected] = "user.role == 'ROLE_USER'">User</option>
                        </select>
                    </p>
                    <p *ngIf="buttonTitle == 'Create'">
                        <label for="password">Password</label>
                        <input type="password" #password="ngModel" [(ngModel)]="user.password" name="password" class="form-control" />
                    </p>
                    <p class="hidden">
                        <input type="file" id="inputImageUser" (change)="fileChangeEvent($event)" />
                    </p>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <label>Profile picture</label>
                    <div class="thumbnail-profile">
                        <img class="picture-profile" [src]="userImg" alt="...">
                        <button type="button" class="btn btn-default btn-xs pull-right" (click)="selectImage()">
                            <i class="fa fa-edit"></i>
                        </button>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <input type="submit" class="btn btn-lg btn-block btn-success pull-right" value="{{ buttonTitle }}">
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <a class="btn btn-lg btn-block btn-warning" [routerLink]="['/dashboard/user-list']">Cancel</a>
                </div>
            </div>
        </form>
    
</div>
        